/* Agendar reunião */

.alinhamento{
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #3E9178;
   color: white;
}
.alinhamento1{
  margin-top: 0%;
  position: relative;
  margin-left: 18%;

}
.alinhamento2{
 align-self: center;

}
.alinhamnento4{
  float: left;
}
.alinhamento3{
  float: right;
  align-items: baseline;
}


h1{

  color: #3e9178;
  text-align: center;
  
  }

  body{
    background-color: #cec9c9 ;
  }

  .botao{
    width: 20%;
    height: 50px; 
    border-radius: 20px;
    border: 2px solid #3E9178;
   
    }
 

