body{
    overflow: hidden;
    background-image: url(../../img/grafico.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin: 0;
    padding: 0;
    
}
.header {
    background-color: #3E9178;
    height: 50px;
}

.header p{
    font-weight: bold;
}

.header p, .header h3{
    line-height: 50px;
}

.menu{
    background-color: #3E9178;
    
}


.bod{
   position: relative;
   top: -15px;
   height: 100vh;
   
}

.contai{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;

   
}

.img{
    /* background-image: url(../../img/grafico.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box; */
    width: 100%;
    

}

.img div{
    width: 32%;
    height: 30%;
    display: flex;
}

.img div img{
    width: 340px;
} 

.links{
    width: 100%;
    margin-top: 5px;
  }
  
  .links a{
      color:white;
      display: block; 
      width: 80%; 
      line-height: 20px;
      text-decoration: none;
      margin-bottom: 15px;
      margin-left: 15px;
      box-sizing: border-box; 
      text-align: center;
      border:2px #fff solid;
      border-radius: 5px;
      padding: 5px;
  }
  
  .links a:hover{
    border:2px #3E9178 solid;
    color: #fff;
  }

  .logout a{
    color:white;
    display: block; 
    width: 40%; 
    line-height: 20px;
    text-decoration: none;
    margin-top: 60%;
    box-sizing: border-box; 
    text-align: center;
    border:2px #fff solid;
    border-radius: 10px;
    padding: 5px; 
    margin-left:25%;
}


