/* Tela CadastroUser */
.telaP {
  background-color: #d9d9d9;
  height: 100vh;
}

.centro{
  height: 100% !important;
  width: 100% !important;
}
.w-40{
  width: 100%;
}

.telaVerde{
  background-color: #3E9178;
  height: 100vh;
}

.logo{
    width: 100%;
    height: 30%;
    border-bottom: .1rem #fff solid;
}
.img{
  width: 100%;
  height: 100%; 
}


.texto{
 color: #3E9178;
}

.botao{
width: 50px;
height: 40px;
border: 2px solid #3E9178;
border-radius: 12px;
}

.btn{
  color:#3E9178 !important;
}
.btn a{
  text-decoration: none;
  color:#3E9178;
}

.btn a:hover{
  color: #3E9178;
}
/* **************DashboardProfessor**************** */
.header{
  background:#3E9178;
  height: 30px;
  line-height: 2px;
  border-bottom: .1rem #fff solid;
}

.items{
position: absolute;
width: 200px;
height: 44px;
border: 2px solid #FFFFFF;
border-radius: 5px;

} 

.links{
  width: 20%;
}

.links a{
    color:white;
    display: block; 
    width: 90%; 
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 15px;
    box-sizing: border-box; 
    text-align: center;
    border:2px #fff solid;
    border-radius: 5px;
    padding: 5px;
}

.links a:hover{
  border:2px #3E9178 solid;
  color: #fff;
}

.logout a{
    color:white;
    display: block; 
    width: 10%; 
    line-height: 20px;
    text-decoration: none;
    margin-top: 10%;
    box-sizing: border-box; 
    text-align: center;
    border:2px #fff solid;
    border-radius: 10px;
    padding: 5px; 
    margin-left: 50px;
}

.mtop{
  margin-top: 50px;
}
img{
  width: 100%;
  height: 70px;
}

.imgPrincipal {
  background-color: #d9d9d9;
   height: 90vh; 
  background-image: url(../assets/img/grafico.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Agendar reunião */

h1{

  color: #3e9178;
  text-align: center;
  
  }
  h5{
        color: white;
        position: absolute;
  }
  h6{
      text-align: right;


  }



  .agendar{

text-align: left;

position: absolute;


  }

  .cancelar{


text-align: right;

  }

  .form-label{ 
      color: #cec9c9;
  }

